@use "../../../styles.scss";

.text-container {
  display: block;
  width: 100%;
  max-width: 600px;
  margin-bottom: 4.5rem;
  cursor: default;

  .content {
    width: 100%;
    max-width: 100%;
  }

  h3 {
    margin: 0;
    font-size: 2.15rem;
    transition: 0.3s cubic-bezier(0.54, 0.01, 0.21, 1);
    bottom: 0;

    &:hover {
      bottom: 5px;
      font-size: 2.5rem;
    }
  }

  span {
    font-weight: 500;
    font-size: 1.25rem;
  }
}
