<main>

  <!-- Profile Component -->

  <app-profile></app-profile>

  <!-- Text Container Components -->

  <app-text-container title="Software/Web Developer"
    desc="Desenvolvedor de software/web, com conhecimentos técnicos em linguagens e frameworks como: Java, JS, Spring, Node.js, React.js, Angular">

    <div class="btn-wrapper">
      <button class="btn btn-secondary" (click)="handleEmail()">Contato</button>
      <button class="btn btn-primary" (click)="handleNav()">Baixar currículo</button>
    </div>
  </app-text-container>
  <app-text-container #aboutMe title="Sobre mim!"
    [desc]="'Desde criança apaixonado pelo mundo do desenvolvimento de software/web. Mergulhei na programação com 17 anos, quando entrei para o curso de Desenvolvedor Web Java do <a href=&quot;https://proa.org.br&quot; style=&quot;text-decoration: none;&quot;><span style=&quot;color: blue; font-weight: 700;&quot;>INSTITUTO PROA💙</span></a> . Graças a esse curso, fui presenteado com muitas oportunidades, desde conhecer empresas gigantes de tecnologia, como a Oracle, e receber vários brindes das mesmas.'"></app-text-container>

  <!-- Project Component -->

  <section class="symbee" #symBee>
    <h3>Projeto Sym<span style="color: #ee9b11;">Bee</span>!</h3>
    <div class="symbee-container">
      <div class="left-content">
        <h1>SymBee</h1>
        <div class="symbee-desc">
          <span>A SymBee é uma plataforma de freelance para desenvolvedores. A sua solução foi ser uma comunidade
            <strong>brasileira</strong> onde devs poderiam se comunicar e competir entre os usuários.</span>
        </div>

        <div class="right-content">
          <img src="belha isquerda.png" alt="left bee" class="bee left">
          <img src="belha direita.png" alt="right bee" class="bee right">
        </div>

        <div #symBeeBadges style="display: flex; flex-wrap: wrap; gap: 0.75rem;" class="badges-wrapper">
          <app-badges>React.js</app-badges>
          <app-badges>HTML</app-badges>
          <app-badges>CSS</app-badges>
          <app-badges>Java</app-badges>
          <app-badges>Spring Boot</app-badges>
          <app-badges>MySQL</app-badges>
        </div>
      </div>
      

    </div>
  </section>

  <!-- Hard-Skills Component -->

  <section class="hard-skills-container">
    <h3>Principais Hard-Skills!</h3>
    <div class="hard-skills" #hardSkills>
      <app-badges nomeClasse="secondary">HTML</app-badges>
      <app-badges nomeClasse="secondary">CSS</app-badges>
      <app-badges nomeClasse="secondary">TypeScript</app-badges>
      <app-badges nomeClasse="secondary">Node.js</app-badges>
      <app-badges nomeClasse="secondary">Postgres</app-badges>
      <app-badges nomeClasse="secondary">MySQL</app-badges>
      <app-badges nomeClasse="secondary">React.js</app-badges>
      <app-badges nomeClasse="secondary">Express.js</app-badges>
      <app-badges nomeClasse="secondary">JSON</app-badges>
      <app-badges nomeClasse="secondary">Java</app-badges>
      <app-badges nomeClasse="secondary">Spring Boot</app-badges>
      <app-badges nomeClasse="secondary">Angular</app-badges>
    </div>
  </section>

  <footer>
    <p>Contato: felipinhobgouveia&#64;gmail.com</p>
    &copy; Felipe {{ ano.getFullYear() }} - Made with ❤️
  </footer>
</main>

<router-outlet />