@use "../styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 1.2rem;

  .btn-wrapper {
    margin-top: 1rem;

    .btn {
      display: inline-block;
      margin-right: 0.55rem;
      background: none;
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }

      &.btn-secondary {
        border: 3px solid #ee9b11;
        color: #ee9b11;
      }

      &.btn-primary {
        color: #000;
        border: 3px solid #ee9b11;
        background-color: #ee9b11;
      }
    }
  }

  .symbee {
    width: max-content;
    width: 100%;
    max-width: 600px;
    cursor: default;

    h3 {
      margin-bottom: 0.65rem;
      font-size: 2.15rem;
      transition: 0.3s cubic-bezier(0.54, 0.01, 0.21, 1);
      bottom: 0;

      &:hover {
        bottom: 5px;
        font-size: 2.5rem;
      }
    }

    .symbee-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 3.2rem;
      text-align: center;
      background-color: #ee9b11;
      padding: 15px;
      border-radius: 10px;

      .left-content {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .right-content {
          margin: auto;

          .bee {
            position: relative;
            height: min-content;
            bottom: 0;
            width: 7rem;
            transition: 0.3s cubic-bezier(0.54, 0.01, 0.21, 1);

            &:hover {
              scale: 1.1;
              bottom: 1.1rem;
            }
          }
        }

        h1 {
          position: relative;
          color: #000;
          font-size: 3rem;
          transition: 0.3s cubic-bezier(0.54, 0.01, 0.21, 1);
          bottom: 0;

          &:hover {
            bottom: 5px;
            font-size: 4rem;
          }
        }

        .symbee-desc {
          span {
            color: #000;
            font-weight: 500;
            font-size: 1.25rem;

            strong {
              color: #000;
            }
          }
        }

        .badges-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1rem;
          width: 100%;
          max-width: 100%;
          justify-content: center;
        }
      }
    }
  }

  .hard-skills-container {
    width: 100%;
    max-width: 800px;
    margin: 4.5rem 0;

    h3 {
      font-size: 2.15rem;
    }

    .hard-skills {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem 1rem;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

@media (max-width: 365px) {
  .right-content {
    display: none;
  }
}
