<div class="profile">
    <img src="avatar.png" id="profile-picture" alt="Rosto do Felipe!" width="75%">
    <h1>Felipe Barros</h1>
    <div class="social-media" #social>
        <a class="social linkedin" href="https://linkedin.com/in/felipebgtome" target="_blank"><img src="linkedin.svg"
                alt="Link para meu LinkedIn" width="100%"></a>
        <a class="social github" href="https://github.com/felipinhobgtom" target="_blank"><img src="github.svg" alt=""
                width="100%"></a>
    </div>
</div>