.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;

  #profile-picture {
    border: 6px solid #ee9b11;
    border-radius: 100%;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      #fff,
      #ebd197,
      #d9a20c,
      #e1ad2b,
      #bb9b49,
      #fff
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
  }

  .social-media {
    padding: 0px 12px 12px 12px;

    .social {
      display: inline-block;
      margin-right: 2rem;

      img {
        display: block;
        width: 100%;
        position: relative;
        transition: 0.3s cubic-bezier(0.54, 0.01, 0.21, 1);
        scale: 1;
        bottom: 0;
      }

      img:hover {
        bottom: 10px;
        scale: 1.3;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

@keyframes gradient {
  to {
    background-position: 200%;
  }
}
